In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('Data/Unemployment in India.csv', parse_dates=['Date'], dayfirst=True)

In [7]:
df.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139,43.24,Rural
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881,42.05,Rural
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707,43.50,Rural
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693,43.97,Rural
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762,44.68,Rural

In [8]:
df.drop(['Frequency'], axis=1, inplace=True)

In [9]:
df.head()

,Region,Date,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,2019-05-31,3.65,11999139,43.24,Rural
1,Andhra Pradesh,2019-06-30,3.05,11755881,42.05,Rural
2,Andhra Pradesh,2019-07-31,3.75,12086707,43.50,Rural
3,Andhra Pradesh,2019-08-31,3.32,12285693,43.97,Rural
4,Andhra Pradesh,2019-09-30,5.17,12256762,44.68,Rural

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt